@import url('https://fonts.googleapis.com/css?family=Quicksand:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic');

body{
    font-family: 'quicksand', 'sans-serif';
    margin: 0;
    padding: 0;
    min-width: 320px;

}

.header{
    height: 1043px;
    background: no-repeat url("image/bg.png");
    background-size: cover;
    box-sizing: border-box;
}

.logo{
    box-sizing: border-box;
    background-color: #0f7bff;
    width: 179px;
    height: 100px;
    margin-left: 140px;
    margin-right: 883px;
    padding-top: 24px;
    padding-left: 24px;
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    color: white;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}

.navbar{
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
}  


.navbar a{
    position: relative;
    top: -5px;
    margin-right: 36px;
    color: #929292;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    
}

.navbar a:first-child{
    color:  #0f7bff;
}

.navbar button{
    position: relative;
    top: -4px;
    padding: 15px 51px;
    color: white;
    background: #0063dd;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 24px;
    font-weight: bold;
    font-family: 'quicksand', 'sans-serif';
    margin-left: 12px;
}

.navbar button:active, 
.navbar button:focus {
    outline: none;
   
}

.navbar button:active{
    color: #929299;
}

.navbar button:hover{
    text-decoration: underline;
}

@media all and (width: 1920px){
    div {
        max-width: 2560px;
    }
}

.header h1{
    font-size: 36px;
}